<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="2ed6c17b-d6e9-4372-a119-5a05fc963d27" Publisher="CN=mrsun_000" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Grampa Bob's Calculator</DisplayName>
    <PublisherDisplayName>mrsun_000</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Grampa_Bob_s_Calculator.App">
      <m2:VisualElements DisplayName="Grampa Bob's Calculator" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Grampa Bob’s Calculator is an easy-to-use tool which allows prospective car buyers to make an economic choice. Grampa Bob synthesizes users’ personal driving styles, detailed information about vehicles, and current marketplace data to return an understandable metric called “cost per mile.” Users can apply this simple number to remove the clutter surrounding the car buying process and make an informed decision." ForegroundText="light" BackgroundColor="#464646">
        <m2:DefaultTile ShortName="Grampa Bob's Calculator" DefaultSize="square150x150Logo" Square70x70Logo="Assets\Square70x70Logo.png" Square310x310Logo="Assets\Square310x310Logo.png" Wide310x150Logo="Assets\Wide310x150Logo.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
            <m2:ShowOn Tile="square310x310Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>